<?xml version="1.0" encoding="UTF-8"?>
<webServerConfig>
  <requestHandler pattern="/" htmlFile="index.html" class="at.tugraz.ist.akm.webservice.handler.DisplayWebSiteRequestHandler"/>
<requestHandler pattern="/api.html" class="at.tugraz.ist.akm.test.webservice.handler.MockAPIRequestHandler"/>
</webServerConfig>