<?xml version="1.0" encoding="UTF-8"?>
<webServerConfig>
  <requestHandler  class="at.tugraz.ist.akm.webservice.handler.FileRequestHandler">
    <request uriPattern="/" dataFile="web/index.html" contentType="text/html"/>
    <request uriPattern="/js/jquery.js" dataFile="web/js/jquery.js" contentType="text/javascript"/>
    <request uriPattern="/js/client.js" dataFile="web/js/client.js" contentType="text/javascript"/>
    <request uriPattern="/css/css.css" dataFile="web/css/css.css" contentType="text/css"/> 
  </requestHandler>
  <requestHandler uriPattern="/api.html" class="at.tugraz.ist.akm.webservice.handler.JsonAPIRequestHandler"/>
</webServerConfig>