<div id="sms_send_form_{{id}}" class="content">
    <form action="javascript:send_message({{id}})">
    <label for="number">Number:</label><br>
    {{! This sets the input or select field}}{{set_contact_form_input phone_numbers}}
    <br><br>
    <label for="text">Text:</label><br>
    <textarea name="sms_text" id="sms_text_{{id}}" cols="70" rows="10" placeholder="Enter text" required></textarea>
    <br>
    <input type="button" name="cancel_button" id="cancel_button" value="Cancel" />
    <input type="submit" name="submit_button" id="submit_button" value="Send" />
    </form>
</div>


<hr>


<div class="content">
    <div id="sms_threade_{{id}}" class="list sms_thread">          
        <div class="list_entry">
        <h5>Von: Max Mustermann</h5>
        <h6>07.01.2012 07:15 Uhr</h6>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit am</p>
        </div>  
        <div class="list_entry">
        <h5>Von: Max Mustermann</h5>
        <h6>07.01.2012 07:15 Uhr</h6>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit am</p>
        </div>  
        <div class="list_entry">
        <h5>Von: Max Mustermann</h5>
        <h6>07.01.2012 07:15 Uhr</h6>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit am</p>
        </div>  
        <div class="list_entry">
        <h5>Von: Max Mustermann</h5>
        <h6>07.01.2012 07:15 Uhr</h6>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit am</p>
        </div>  
        <div class="list_entry">
        <h5>Von: Max Mustermann</h5>
        <h6>07.01.2012 07:15 Uhr</h6>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit am</p>
        </div>  
        <div class="list_entry">
        <h5>Von: Max Mustermann</h5>
        <h6>07.01.2012 07:15 Uhr</h6>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit am</p>
        </div>                  
    </div>      
</div>
    